@use "../abstract/variables" as *;
.contact-header {
    width: 100%;
    display: flex;
    background-color: $colortres;
    // background-image: url(/assets/man-baby.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    .header-title {
        padding-top: .5em;
        font-size: 3.5rem;
        font-weight: 700;
    }
    .header-image {
        width: 50%;
    }
    
    


}

.contact-main{
   display: flex;
   flex-direction: column;
   justify-content: center;
   
   background-color: $colorquatro;
   color: white;
   padding: 1rem;
   padding-bottom: 7rem;
   
   .main-title {
    font-size: 3rem;
    margin-bottom: 1rem;
   }


   .form-text{
    font-size: .9rem;
    }

    .form-email{
        width: 95%;
        height: 2em;
        border-style: none;
        border-radius: 3px;
        margin-top: .5rem;
    }
    .form-window{
        width: 95%;
        font-size: .9rem;
        margin-top: .5rem;
        border-style: none;
        border-radius: 3px;
    }
    .main-form {
        display: flex;
        flex-direction: column;
    }
}

