@use "../abstract/variables" as*;
.nav-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    @include big-screen {
        flex-grow: 1;
        flex-wrap: nowrap;
    }
    .list-item{
        width: 50%;
        text-align: center;
        padding: .8em 0;
        color: rgb(63, 63, 63);
        &:hover {
            background-color: $colorquatro;
            color: black;
        }
        @include big-screen {
            width: 25%;
        }
    
        
    }

    
}